@charset 'UTF-8';

@import "./Foundation/reset";
@import "./Foundation/base";
@import "./Layout/header";
@import "./Layout/sidebar";
@import "./Layout/main-wrap";
@import "./Layout/sub-wrap";
@import "./Layout/map";
@import "./Layout/footer";
@import "./Object/component/headline";
@import "./Object/component/serch";
@import "./Object/component/title";
@import "./Object/component/place-menu";
@import "./Object/component/footer";
@import "./Object/component/copyright";
@import "./Object/component/grand-menu";
@import "./Object/component/close";
@import "./Object/component/map";
@import "./Object/component/overlay";
@import "./Object/project/serchform";
@import "./Object/project/p-hero";
@import "./Object/project/place-menu";
@import "./Object/project/primary-menu";
@import "./Object/project/map";


$breakpoints:(
smartphone: "screen and (max-width: 599px)",
tablet: "screen and (min-width: 600px)",
pc: "screen and (min-width: 1200px)",
);

@mixin mq ($breakpoint) {
@media #{map-get($breakpoints, $breakpoint)}{
    @content;
}
}




body{
    position: relative;
}