.c-serch{
    &--box{
        border-radius: 4px;
        width: 230px;
        height: 46px;
        border: 1px solid;
        margin-right: 2px;
        padding-left: 35px;
    }

    &--button{
        border-radius: 4px;
        width: 78px;
        height: 46px;
        border: 1px solid;
        font-size: 16px;
        margin-left: 2px;
        background-color: #F2EDE9;
        transition: background-color 0.3s;
    }

    &--button:hover{
        cursor: pointer;
        background-color: #d3cfcad3;
    }

    &--icon i{
        columns: #333333;;
        position: relative;
        left:35px;
    }

}