.c-title{
    &--menu{
        font-weight: bold;
        position: absolute;
        top: 20px;
        right: 12px;
        color: #707070;
        cursor : pointer;

        &__sidebar{
            display: none;
        
        @include mq(pc){
            display: block;
            color: #333333;
            font-weight: bold;
            font-size:22px;
            padding-top: 80px;
            padding-left: 30px;
        }
        
        }


    }

    &--menu a{
        text-decoration: none;
        color: $basefont-color;
    }

}
