.c-title{
    &--menu{
        font-weight: bold;
        position: absolute;
        top: 20px;
        right: 12px;
        color:$basefont-color;
        cursor : pointer;
        font-size:26px;

        &:hover{
            opacity: 0.8;
        }

        &__sidebar{
            display: none;
        
        @include mq(pc){
            display: block;
            color: $basefont-color;
            font-weight: bold;
            font-size:22px;
            padding-top: 80px;
            padding-left: 30px;
        }
        
        }


    }

    &--menu a{
        text-decoration: none;
        color: $basefont-color;
    }

}
