.p-hero{
    &--main{
        background-image: url(/image/hero1.png);
        background-size:cover;
        height: 285px;
        background-position: right 10% top 40%;
        background-repeat: no-repeat;
        
        @include mq(pc){
            height: 430px;
        }
    }

    &--archive{
        background-image: url(/image/hero2.png);
        background-size:cover;
        height: 285px;
        background-position-x: 25%;
        background-color: #333333;

        @include mq (tablet){
            background-position-x: 50%;
        }

        @include mq (pc){
            height: 230px;
        }



    }

    &--singlepage{
        background-image: url(/image/single_hero.png);
        background-size :190%;
        height: 345px;
        background-position: center;

        @include mq (tablet){
            background-size :110%;
        }

        @include mq(pc){
            height: 225px;
            background-size: 100%;
            background-position-y: 50%;
            background-position-x: 100%;
        }
    }

}