.p-hero{
    &--main{
        background-image: url(/image/hero1.png);
        background-size:cover;
        height: 285px;
    }

    &--archive{
        background-image: url(/image/hero2.png);
        background-size:cover;
        height: 285px;
        background-position: center;
    }

}