.p-page-navi{
    height: 130px;
    text-align: center;
    display: flex;
    justify-content: space-between;

    @include mq (tablet){
        display: flex;
        justify-content: center;


    }

    &__pages{
        display: none;

        @include mq (tablet){
            display: block;
            margin-top: 88px;
            font-size: 14px;
            font-weight: bold;
        }
    }

    &__link{
        color: $basefont-color;
        text-decoration: none;
        margin-top: 80px;
        margin-left: 40px;
        margin-right: 40px;
        font-size: 24px;

        @include mq (tablet){
            margin-right: 18px;
            margin-left: 18px;
        }
        
    }

    &__pre{
        color: $basefont-color;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 20px;

        @include mq (tablet){
            display: none;
        }

    }
}