.l-sub{
   
   &--wrap{
    width: 100%;
    height: 1374px;
    display: flex;
    flex-direction:column;
   }

   &--archive{
       width: 100%;
       height: 350px;
   }

   &--archive p{
       color: #333333;
       margin-right: 18px;
       margin-left: 18px;
   }

}