.l-sub{
   
   &--wrap{
    width: 100%;
    height: 1374px;
    display: flex;
    flex-direction:column;

    @include mq (tablet){
        justify-content: space-between;
        flex-direction: initial;
        height: 720px;
    }

    @include mq (pc){
        height: 1300px;
    }

   }

   &--archive{
       width: 100%;
       height: auto;
   }

   &--singlepage{
    background-color: $basebackground-color;

    & > p{
        color: #333333;
        margin-right: 18px;
        margin-left: 18px;  
    }



   }

   &--archive > p{
       color: #333333;
       margin-right: 18px;
       margin-left: 18px;

       @include mq (pc){
           margin-left: 50px;
           margin-right: 50px;
       }
   }

}